<aside class='lil-active-buffs'>
	<div class='buff-container'>
		<ul data-application-part='temp'></ul>
		<ul data-application-part='perm'></ul>
		<ul data-application-part='cond'></ul>
	</div>
</aside>
