<form autocomplete='off'>
	<p class='hint'>Select image to synchronize both with.</p>
	<div class='actor-image'>
		<h3>Actor</h3>
		<img src='{{actor.img}}'>
	</div>
	<div class='token-image'>
		<h3>Token</h3>
		<img src='{{token.texture.src}}'>
	</div>
</form>
