.loot-sheet-npc {
  .gm-section {
    /* height: 48px; */
    color: #000;
    /* font-weight: 700; */
    margin-top: 0.5rem;
    text-align: center;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    color: #4b4a44;
    font-size: 18px;
    /* flex: 0; */
  }

  .gm-header {
    margin-top: 0.5rem;
  }

  .gm-settings {
    overflow: auto;

    .permissions-list,
    .coin-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .coins-list {
      padding-left: 24px;
    }

    .sheet-types,
    .merchant-settings {
      margin-right: 10px;
    }

    .merchant-settings {
      margin-left: 24px;

      .flexrow {
        border-bottom: 1px solid #CCC;
        margin-bottom: 5px;

        h4 {
          margin: 2px 0 0 0;
        }
      }
    }

    h4.sheet-name {
      flex: 1;
      margin: 0 0 0 24px;
      line-height: 22px;
    }

    .permission,
    .denomination {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      height: 21px;
      line-height: 21px;
      border-bottom: 1px solid #CCC;
      font-size: 13px;
    }

    .help {
      color: #7a7971;
      font-size: 13px;
    }

    .permission,
    .denomination>* {
      flex: 1;
      flex-wrap: inherit;
      height: auto;
    }

    .permission {
      .permission-name {
        margin: 0;
        width: 88%;
      }

      .permission-proficiency {
        text-align: center;
        flex: 0 0 24px;

        i.fa-circle {
          font-size: 10px;
        }
      }
    }

    .split-coins {
      width: 95%;
    }

    .update-inventory {
      width: 95%;
    }
  }

  .gm-header-settings {
    div {
      justify-content: space-between;
    }

    h4 {
      max-width: 50%;
      justify-content: space-between;
      display: flex;
      margin: 0.5em 0 0 0;
    }

    input {
      max-width: 45%;
    }
  }

  .sheet-type-info,
  .permission-info,
  .flagDrop-info,
  .flagMaxCapacity-info,
  .flagMaxLoad-info,
  .flagSaleValue-info,
  .flagDisplaySaleValueEnabled-info,
  .merchant-settings-info {
    color: #7a7971;
    margin: 6px 6px 6px 24px;
    display: none;
  }

  .sheet-header {
    .summary li {
      width: 50%;

      &.warn {
        color: red;
      }
    }

    .summary-rows {
      /* width: 80%; */
      /* align-content: center; */

      span {
        margin-left: 5px;
      }
    }

    img.sheet-profile {
      border: none;
      max-width: 220px;
      max-height: 220px;
    }

    img.sheet-profile-small {
      border: none;
      height: auto;
      max-width: 120px;
      max-height: 120px;
    }

    .sheet-profile-img {
      text-align: center;
      padding: 10px;
      flex: 0.25;
    }

    .charbutton {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    button.price-modifier, button.convert-loot, button.collect-loot {
      /* width: 90%; */
      /* padding: 1px 10px; */
      /* margin-right: 10px; */
    }

    h1 input {
      margin: 0px;
    }
  }

  .sheet-lower {
    height: 78%;
  }

  section.sheet-sidebar.sidebar {
    /* flex: 0 0 250px; */
    border-bottom: 2px groove #eeede0;
    border-right: 2px groove #eeede0;
    /* display: flex; */
    flex: 0.4;
    max-height: 100%;
    overflow-y: auto;
  }

  section.sheet-content.content {
    border-bottom: 2px groove #eeede0;
    max-height: 100%;
    height: 100%;
  }

  &.sheet.actor .inventory-list {
    .item {

      .item-price,
      .adjusted-price,
      .item-quantity {
        flex: 0 0 100px;
        color: #666;
        font-size: 10px;
      }
    }

    .item-controls {
      flex: 0 0 120px !important;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      justify-content: flex-end;
    }
  }

  .sheet-navigation {
    margin-bottom: 15px;
  }

  .tab.inventory .inventory-filters {
    &.flexrow {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .currency h3 {
      flex: 3;
      margin-right: 20px;
    }
  }

  .currency-controls {
    display: flex;

    a {
      flex: 1 0 16px;
      font-size: var(--font-size-14);
      text-align: center;
      color: #666;
      padding-top: 5px;
    }
  }

  .totals {
    max-height: 6%;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .features {
    /* max-height: 78%; */
    /* min-height: 70%; */
    overflow-y: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .window-content .tab section.inventory-body {
    overflow-y: auto;
    height: auto;
    /* max-height: 70%; */

    &.merchant-body {
      max-height: 89%;
    }
  }

  .batch-update {
    padding: 5px;

    a {
      margin-left: 10px;
    }
  }

  .fa-eye-slash {
    color: darkred;
  }

  .fa-infinity {
    padding: 0 2px
  }

  .enabled .fa-infinity {
    color: darkred;
  }

  section.currency {
    padding-top: 7px;

    label:not(.currency-controls) {
      position: relative;

      i {
        display: inline-block;
        position: absolute;
        inset: -5px auto auto -5px;
        filter: drop-shadow(0 0 1px black);
      }
    }
  }

  :is(i, span).currency {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: transparent no-repeat center / contain;

    &.cp {
      background-image: url(../icons/currency/copper.webp);
    }

    &.sp {
      background-image: url(../icons/currency/silver.webp);
    }

    &.gp {
      background-image: url(../icons/currency/gold.webp);
    }

    &.pp {
      background-image: url(../icons/currency/platinum.webp);
    }
  }

  &.sheet.actor .editor {
    height: 600px;
  }
}

.lootsheet-dialog {
  max-width: 70%;
}

input#price-modifier-percent-display {
  background: none;
  border: 1px solid transparent;
  width: 50px;
}

input#quantity {
  background: none;
  border: 1px solid #111;
}

input#price-modifier-percent-display:hover,
input#price-modifier-percent-display:focus,
input#quantity:hover,
input#quantity:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}